
<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://via.placeholder.com/350x150');">
          <div class="card-description"><h5> <%=c.name%></h5></div>
        </div>
          <p> <%= link_to "View", cocktail_path(c) %> </p>
      </div>
    <% end %>
  </div>
</div>



