<h1>All Cocktails</h1>
<% @cocktails.each do |c| %>
  <p> <%=c.name%></p>
  <%= cl_image_tag c.photo, height: 300, width: 400, crop: :fill %>
  <p> <%= link_to "View", cocktail_path(c) %> </p>
  <% end %>

<p><%= link_to "Add a new Cocktail", new_cocktail_path%></p>



