<div class="banner">
<%= image_tag "cocktail.jpg", class: "banner"%>
<div class = "gradient-background">
</div>
  <div class="banner-content">
    <h1>Mister Bier </h1>
    <p> Killer Hops</p>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @cocktails.reverse_each do |c| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card"><%= cl_image_tag c.photo, height: 300, width: 300, crop: :fill %>
          <div class="card-description">
          <h5> <%=c.name%></h5>
          <p> <%= link_to "View", cocktail_path(c) %> </p>
          </div>

        </div>
      </div>

    <% end %>
  </div>
</div>

