<h1>All Cocktails</h1>
<% @cocktails.each do |c| %>
  <p> <%=c.name%></p>
  <p> <%= link_to "View", cocktail_path(c) %> </p>
<% end %>
<p><%= link_to "Add a new Cocktail", new_cocktail_path%></p>




