.banner {
  position: relative;
  color: white;
  text-align: center;
  height: calc(70%-70px);
  width: 100vw !important;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  // background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 70px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-content{
  position: absolute;
}

.gradient-background{
   position: absolute;
   background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
   height: 100%;
   width: 100%;
}
